/* 01. SETTINGS */
/* 02. TOOLS */
* {
  box-sizing: border-box; }

/* 06. COMPONENTS */
/* Some General Resets */
*, *:before, *:after {
  box-sizing: border-box; }

/* General Panel Rules */
.mtm-component {
  border-bottom: 1px solid #eee;
  margin-top: -2rem;
  padding-top: 2rem;
  position: relative; }
  .mtm-component .content--page {
    padding: 1rem; }
  .mtm-component img {
    max-width: 100%;
    height: auto; }

.mtm-component--main-full {
  position: relative;
  overflow: auto; }

.mtm-component--home {
  background-size: cover;
  border-top: 1px solid #eee;
  margin-top: 0;
  padding-top: 0;
  text-align: center; }

.mtm-component--term-list {
  padding: 1em 0;
  margin: 0; }
  .mtm-component--term-list li {
    list-style: none;
    display: inline-block; }
  .mtm-component--term-list a {
    padding-right: .5em; }

/* Home Rules */
.mtm-home-news--content, .mtm-home-featured--story {
  text-align: left; }

.mtm-home-featured--single, .mtm-home-topic--single {
  margin-bottom: 2%; }

.mtm-home-sidebar--widget {
  display: none; }

/* Button Rules */
.mtm-home-buttons {
  margin-bottom: 1em; }

.button.mtm-button {
  display: block;
  margin-bottom: .5em; }

.post-edit-link {
  font-size: .7em; }

/* List Rules */
.mtm-list--single {
  margin: 1em 0;
  border-bottom: 1px solid #eee; }

.mtm-list--image {
  width: 100%; }

.mtm-list--post-content {
  width: 100%; }

/* Grid Rules */
.mtm-grid--single {
  width: 100%; }

/* Tab Rules */
.mtm-tabs--title-container {
  list-style: none;
  margin: 0;
  padding: 0; }
  .mtm-tabs--title-container li {
    cursor: pointer;
    padding: .2em 0; }
    .mtm-tabs--title-container li.current {
      font-weight: bold; }

.mtm-tabs--content {
  display: none;
  border-top: 1px solid #eee;
  padding: .5em 0; }
  .mtm-tabs--content.current {
    display: inherit; }

@media only screen and (min-width: 30em) {
  .button.mtm-button {
    display: inline-block; }

  .mtm-tabs--title-container li {
    padding: .3em 0;
    margin-right: 1em;
    display: inline-block; } }
/* MEDIA QUERIES */
@media only screen and (min-width: 30em) and (max-width: 45em) {
  .mtm-list--image {
    display: inline-block;
    margin-right: -.275em;
    vertical-align: top;
    width: 50%;
    padding: 0 2%; }
    .mtm-list--image:nth-of-type(2n+1) {
      padding-left: 0; }
    .mtm-list--image:nth-of-type(2n+2) {
      padding-right: 0; }

  .mtm-grid--single {
    display: inline-block;
    margin-right: -.275em;
    vertical-align: top;
    width: 50%;
    padding: 0 0;
    padding-right: 3%;
    width: 51.5%; }
    .mtm-grid--single:nth-of-type(2n+2) {
      padding-right: 0;
      width: 48.5%; }

  .mtm-home-featured--single, .mtm-home-topic--single {
    display: inline-block;
    margin-right: -.275em;
    vertical-align: top;
    width: 50%;
    padding: 0 0;
    padding-right: 3%;
    width: 51.5%; }
    .mtm-home-featured--single:nth-of-type(2n+2), .mtm-home-topic--single:nth-of-type(2n+2) {
      padding-right: 0;
      width: 48.5%; } }
@media only screen and (min-width: 45em) and (max-width: 61em) {
  .mtm-list--image {
    display: inline-block;
    margin-right: -.275em;
    vertical-align: top;
    width: 41.6666666667%;
    padding: 0 2%; }
    .mtm-list--image:nth-of-type(2n+1) {
      padding-left: 0; }
    .mtm-list--image:nth-of-type(2n+2) {
      padding-right: 0; }

  .mtm-list--post-content {
    display: inline-block;
    margin-right: -.275em;
    vertical-align: top;
    width: 58.3333333333%;
    padding: 0 2%; }
    .mtm-list--post-content:nth-of-type(2n+1) {
      padding-left: 0; }
    .mtm-list--post-content:nth-of-type(2n+2) {
      padding-right: 0; }

  .mtm-grid--single {
    display: inline-block;
    margin-right: -.275em;
    vertical-align: top;
    width: 50%;
    padding: 0 0;
    padding-right: 3%;
    width: 51.5%; }
    .mtm-grid--single:nth-of-type(2n+2) {
      padding-right: 0;
      width: 48.5%; }

  .mtm-home-featured--single, .mtm-home-topic--single {
    display: inline-block;
    margin-right: -.275em;
    vertical-align: top;
    width: 33.3333333333%;
    padding: 0 0;
    padding-right: 3%;
    width: 34.3333333333%; }
    .mtm-home-featured--single:nth-of-type(3n+3), .mtm-home-topic--single:nth-of-type(3n+3) {
      padding-right: 0;
      width: 31.3333333333%; }

  .mtm-home-news--content {
    display: inline-block;
    margin-right: -.275em;
    vertical-align: top;
    width: 50%;
    padding: 0 2%; }
    .mtm-home-news--content:nth-of-type(2n+1) {
      padding-left: 0; }
    .mtm-home-news--content:nth-of-type(2n+2) {
      padding-right: 0; }
    .mtm-home-news--content.full {
      display: inline-block;
      margin-right: -.275em;
      vertical-align: top;
      width: 100%;
      padding: 0 2%;
      padding-left: 0;
      padding-right: 0; }
      .mtm-home-news--content.full .mtm-home-sidebar--widget {
        display: inline-block;
        margin-right: -.275em;
        vertical-align: top;
        width: 33.3333333333%;
        padding: 0 2%;
        margin: 1.5em 0; }
        .mtm-home-news--content.full .mtm-home-sidebar--widget:nth-of-type(3n+1) {
          padding-left: 0; }
        .mtm-home-news--content.full .mtm-home-sidebar--widget:nth-of-type(3n+3) {
          padding-right: 0; }

  .mtm-home-featured--story {
    display: inline-block;
    margin-right: -.275em;
    vertical-align: top;
    width: 50%;
    padding: 0 2%; }
    .mtm-home-featured--story:nth-of-type(2n+1) {
      padding-left: 0; }
    .mtm-home-featured--story:nth-of-type(2n+2) {
      padding-right: 0; } }
@media only screen and (min-width: 45em) {
  .mtm-component .content--page {
    padding: 3rem; }

  .mtm-home-sidebar--widget {
    display: block; }
    .mtm-home-sidebar--widget:first-of-type {
      margin-top: 1.5em; } }
@media only screen and (min-width: 61em) {
  .mtm-list--image {
    display: inline-block;
    margin-right: -.275em;
    vertical-align: top;
    width: 25%;
    padding: 0 2%; }
    .mtm-list--image:nth-of-type(2n+1) {
      padding-left: 0; }
    .mtm-list--image:nth-of-type(2n+2) {
      padding-right: 0; }

  .mtm-list--post-content {
    display: inline-block;
    margin-right: -.275em;
    vertical-align: top;
    width: 75%;
    padding: 0 2%; }
    .mtm-list--post-content:nth-of-type(2n+1) {
      padding-left: 0; }
    .mtm-list--post-content:nth-of-type(2n+2) {
      padding-right: 0; }

  .mtm-grid--single {
    display: inline-block;
    margin-right: -.275em;
    vertical-align: top;
    width: 33.3333333333%;
    padding: 0 0;
    padding-right: 4%;
    width: 34.6666666667%; }
    .mtm-grid--single:nth-of-type(3n+3) {
      padding-right: 0;
      width: 30.6666666667%; }

  .mtm-home-featured--single, .mtm-home-topic--single {
    display: inline-block;
    margin-right: -.275em;
    vertical-align: top;
    width: 33.3333333333%;
    padding: 0 0;
    padding-right: 4%;
    width: 34.6666666667%; }
    .mtm-home-featured--single:nth-of-type(3n+3), .mtm-home-topic--single:nth-of-type(3n+3) {
      padding-right: 0;
      width: 30.6666666667%; }

  .mtm-home-news--content {
    display: inline-block;
    margin-right: -.275em;
    vertical-align: top;
    width: 33.3333333333%;
    padding: 0 2%; }
    .mtm-home-news--content:nth-of-type(2n+1) {
      padding-left: 0; }
    .mtm-home-news--content:nth-of-type(2n+2) {
      padding-right: 0; }
    .mtm-home-news--content.full {
      display: inline-block;
      margin-right: -.275em;
      vertical-align: top;
      width: 100%;
      padding: 0 2%;
      padding-left: 0;
      padding-right: 0; }
      .mtm-home-news--content.full .mtm-home-sidebar--widget {
        display: inline-block;
        margin-right: -.275em;
        vertical-align: top;
        width: 33.3333333333%;
        padding: 0 2%;
        margin: 1.5em 0; }
        .mtm-home-news--content.full .mtm-home-sidebar--widget:nth-of-type(3n+1) {
          padding-left: 0; }
        .mtm-home-news--content.full .mtm-home-sidebar--widget:nth-of-type(3n+3) {
          padding-right: 0; }

  .mtm-home-featured--story {
    display: inline-block;
    margin-right: -.275em;
    vertical-align: top;
    width: 66.6666666667%;
    padding: 0 2%; }
    .mtm-home-featured--story:nth-of-type(2n+1) {
      padding-left: 0; }
    .mtm-home-featured--story:nth-of-type(2n+2) {
      padding-right: 0; } }
