/* Some General Resets */

*, *:before, *:after {
	box-sizing: border-box;
}

/* General Panel Rules */
.mtm-per-row-2 {
	@include pinkmagic( $rowitems: 2, $padside: 4% );
}

.mtm-per-row-3 {
	@include pinkmagic( $rowitems: 3, $padside: 4%  );
}

.mtm-per-row-4 {
	@include pinkmagic( $rowitems: 4, $padside: 4%  );
}

.mtm-per-row-5 {
	@include pinkmagic( $rowitems: 5, $padside: 4%  );
}

.mtm-per-row-6 {
	@include pinkmagic( $rowitems: 6, $padside: 4%  );
}

.mtm-component {
	border-bottom: 1px solid #eee;
	margin-top: -2rem;
	padding-top: 2rem;
	position: relative;

	.content--page {
		padding: $sm-pad;
	}

	img {
		max-width: 100%;
		height: auto;

	}

}
	.mtm-component--main-full {
		overflow: auto;
		position: relative;
	}

	.mtm-component--home {
		background-size: cover;
		border-top: 1px solid #eee;
		margin-top: 0;
		padding-top: 0;
		text-align: center;
	}

	.mtm-component--term-list {
		padding: 1em 0;
		margin: 0;

		li {
			list-style: none;
			display: inline-block;
		}

		a {
			padding-right: .5em;
		}
	}


/* Module Rules */

.mtm-module {
	padding-bottom: 1em;
	padding-top: 1em;
}
	
		.mtm-module--hero-title {
			margin: .75em auto;
		}

		.mtm-module--hero-subtitle {
			margin-bottom: .75em;
		}

	.mtm-hero-image {
		padding: 2em;
		background-size:cover;
		background-position: center;
		text-align: center;
	}

		.mtm-hero-image-title, .mtm-hero-image-subtitle p {
			color: #fff;
		}

	.mtm-logo-grid {
		vertical-align: middle;
	}

	.mtm_module_call_to_action {
		padding: 1em;
		background: #f2f2f2;
	}



/* Home Rules */

.mtm-home-news--content, .mtm-home-featured--story {
	text-align:left;
}

.mtm-home-featured--single, .mtm-home-topic--single {
	margin-bottom: 2%;
}

.mtm-home-sidebar--widget {
	display: none;
}

/* Button Rules */
.mtm-home-buttons {
	margin-bottom: 1em;
}

.button.mtm-button {
	display:inline-block;
	margin-bottom: .5em;
}

.post-edit-link {
	font-size: .7em;
}

/* List Rules */

.mtm-list--single {
	margin: 1em 0;
	border-bottom: 1px solid #eee;
}

	.mtm-list--image {
		width: 100%;
	}

	.mtm-list--post-content {
		width: 100%;
}


/* Tab Rules */

.mtm-tabs--title-container {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		cursor: pointer;
		padding: .2em 0;

		&.current {
			font-weight: bold;

		}
	}


}

.mtm-tabs--content {
	display: none;
	border-top: 1px solid #eee;
	padding: .5em 0;

	&.current {

		display:inherit;

	}
}


@media only screen and ( min-width:$sm-bp ) {

	.mtm-tabs--title-container {
		li {
			padding: .3em 0;
			margin-right:1em;
			display:inline-block;
		}
	}

	.mtm-module--cta-subheading{
		display: inline-block;
		margin-right: 1em;
	}

	.mtm-module--cta-buttons {
		display: inline-block;
	}
}

/* MEDIA QUERIES */


@media only screen and ( min-width: $sm-bp ) and ( max-width: $med-bp ) {
	
	.mtm-list--image {
		@include pinkgrid( $align: top, $totalcols: $defaultcols, $colspan: 6, $padtop: 0, $padside: $defaultpad );
		@include pinkrow( $rowitems: 2, $before: 0, $after: 0 ) 
	}


}

@media only screen and ( min-width: $med-bp ) and ( max-width: $lg-bp ) {

	.mtm-list--image {
		@include pinkgrid( $align: top, $totalcols: $defaultcols, $colspan: 5, $padtop: 0, $padside: $defaultpad );
		@include pinkrow( $rowitems: 2, $before: 0, $after: 0 ) 
	}

	.mtm-list--post-content {
		@include pinkgrid( $align: top, $totalcols: $defaultcols, $colspan: 7, $padtop: 0, $padside: 2% );
		@include pinkrow( $rowitems: 2, $before: 0, $after: 0 ) 
	}

	.mtm-home-news--content {
		@include pinkgrid( $colspan: 6 );
		@include pinkrow( $rowitems: 2 ); 

		&.full {
			@include pinkgrid( $colspan: 12 );
			@include pinkrow( $rowitems: 1 ); 

			.mtm-home-sidebar--widget {
				@include pinkgrid( $colspan: 4 );
				@include pinkrow( $rowitems: 3 ); 
				margin: 1.5em 0;
			}
		}
	}

	.mtm-home-featured--story {
		@include pinkgrid( $colspan: 6 );
		@include pinkrow( $rowitems: 2 ); 
	}

}

@media only screen and ( min-width: $med-bp ) {
	.mtm-component .content--page {
		padding: $big-pad;
	}

	.mtm-home-sidebar--widget {
		display: block;
		
		&:first-of-type {
			margin-top: 1.5em;
		}
	}

	.mtm_module_dual_content_area {
		.mtm-module--content-primary, .mtm-module--content-secondary {
			@include pinkgridrow( $align: top, $rowitems: 2, $padtop: 0, $padside: 5% );
		}
	}
	
}


@media only screen and ( min-width: $lg-bp ) {

	.mtm-list--image {
		@include pinkgrid( $align: top, $totalcols: $defaultcols, $colspan: 3, $padtop: 0, $padside: $defaultpad );
		@include pinkrow( $rowitems: 2, $before: 0, $after: 0 ) 
	}

	.mtm-list--post-content {
		@include pinkgrid( $align: top, $totalcols: $defaultcols, $colspan: 9, $padtop: 0, $padside: $defaultpad );
		@include pinkrow( $rowitems: 2, $before: 0, $after: 0 ) 
	}

	.mtm-home-news--content {
		@include pinkgrid( $colspan: 4 );
		@include pinkrow( $rowitems: 2 ); 

		&.full {
			@include pinkgrid( $colspan: 12 );
			@include pinkrow( $rowitems: 1 ); 

			.mtm-home-sidebar--widget {
				@include pinkgrid( $colspan: 4 );
				@include pinkrow( $rowitems: 3 ); 
				margin: 1.5em 0;
			}
		}
	}

	.mtm-home-featured--story {
		@include pinkgrid( $colspan: 8 );
		@include pinkrow( $rowitems: 2 ); 
	}
	
}