.acf-field {

}

	.acf-repeater.-row, .acf-repeater.-block, [data-layout="mtm_module_hero_image"], [data-layout="mtm_module_call_to_action"] {
		.mce-edit-area iframe {
			min-height: 150px !important;
			height: 150px !important;
		}

		.acf-tab-group {
			height: 0;
			overflow: hidden;
			padding-top: 0;
			border-bottom: none;
		}

		.acf-field-wysiwyg, .acf-field-file, .acf-field-image {
			min-height: 200px !important;
		}

		.acf-field-text, .acf-field-page-link {
			min-height: 100px !important;
		}
	}

	.acf-repeater.-row > table > tbody > tr > td, .acf-repeater.-block > table > tbody > tr > td {
		border-bottom-width: 5px;
	}

	.acf-flexible-content .layout .acf-fc-layout-handle {
		font-size: 1.2em;
		font-weight: bold;
	}